h1 Profile
b Name:
=<@response['name']
br
b Email:
=<@response['email']
br
=<link_to "New Diary",   new_user_diary_path(cookies[:user_id])
=<link_to "All Diaries",   user_diaries_path(cookies[:user_id])
br
=<link_to "New Affirmation",   new_user_affirmation_path(cookies[:user_id])
=<link_to "All Affirmations",   user_affirmations_path(cookies[:user_id])
br
=<link_to "Logout", root_path
